header {
  height: 10vh;
  min-height: 80px;

  display: flex;
  background: var(--headerColor);

  @media (min-width: 476px) {
    justify-content: end;
    align-items: center;

    padding-right: calc(40px + 2.5%);
  }

  @media (max-width: 475px) {
    justify-content: center;
    align-items: center;
  }

  /* -- Search bar --*/

  & .searchBar {
    height: 50px;
    width: clamp(200px, 25%, 400px);

    background: var(--backgroundColor);
    border-radius: 10px;
    border: none;
    position: relative;
    z-index: 1;

    & input {
      width: 100%;
      height: 100%;
      padding-left: 3rem;
      padding-right: 1rem;

      position: relative;
      z-index: 1;
    }

    &::after {
      content: url("../../assets/icons/search.png");
      position: absolute;
      top: 13px;
      left: 10px;
      z-index: 2;
    }

    @media (max-width: 475px) {
      width: clamp(100px, 40%, 200px);
    }
  }

  /* -- Profile Icon -- */

  & .profileIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    height: 50px;
    aspect-ratio: 1/1;
    cursor: pointer;

    border-radius: 10px;
    border: none;

    margin: 0px 1rem;
    background: var(--darkerPurple);
    box-shadow: 4px 3px 8px 0px rgba(55, 55, 55, 0.42);

    & img {
      position: absolute;
      bottom: 0;

      height: 65%;
      aspect-ratio: 1/1;
    }
  }

  & p.userProfile {
    @media (max-width: 475px) {
      display: none;
    }
  }
}
