.screenOverlay{
    padding: 1rem 2rem;

    position: absolute;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: purple;
    
    & img{
        width: 200px;
        aspect-ratio: 1/1;
    }
}