/*#region General CSS rules*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

:root {
  /*-- Main colors --------------*/
  --headerColor: #7e93ff;
  --backgroundColor: #f9f9fc;
  --white: #fbfaf5;
  /*-----------------------------*/
  /*-- Secondary colors ---------*/
  --darkerPurple: #485598;
  --headlineBlue: #394164;
  /*-----------------------------*/
  /*-- Text related variables ---*/
  --mainFont: "Roboto", sans-serif;
  /*-----------------------------*/
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--backgroundColor);
  margin: 0;
}
/*#endregion*/

/*#region Header styles*/
header {
  height: 10vh;
  min-height: 80px;

  display: flex;
  background: var(--headerColor);
}

@media (min-width: 476px) {
  header {
    justify-content: end;
    align-items: center;

    padding-right: calc(40px + 2.5%);
  }
}

@media (max-width: 475px) {
  header {
    justify-content: space-around;
    align-items: center;
  }
}

.searchBar {
  height: 50px;
  width: clamp(200px, 25%, 400px);

  background: var(--backgroundColor);
  border-radius: 10px;
  border: none;
  position: relative;
  z-index: 1;

  & input {
    width: 100%;
    height: 100%;
    padding: 0 3rem;

    position: relative;
    z-index: 1;
  }

  & img {
    position: absolute;
    width: auto;
    height: auto;

    bottom: 10px;

    z-index: 2;
  }
}

.searchBar::after {
  content: url("./assets/icons/search.png");
  position: absolute;
  top: 13px;
  left: 10px;
  z-index: 2;
}

@media (max-width: 475px) {
  .searchBar {
    width: clamp(100px, 40%, 200px);
  }
}

.profileIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  height: 50%;
  aspect-ratio: 1/1;
  cursor: pointer;

  border-radius: 10px;
  border: none;

  margin: 0px 1rem;
  background: var(--backgroundColor);

  & img {
    position: absolute;
    bottom: 0;

    height: 65%;
    aspect-ratio: 1/1;
  }
}
/*#endregion*/

/*#region Main styles*/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentBlock {
  height: auto;
  width: 90%;
  background: white;
  margin: 40px 0px 5px 0px;
  padding: 10px 20px;

  @media (max-width: 700px) {
    .contentBlock {
      margin-top: 10px;
    }
  }

  @media (max-width: 375px) {
    .contentBlock {
      padding: 10px 0px;
    }
  }
}
/*#endregion*/

/*#region Text styles*/
.headline {
  font-size: 1.75rem;
  font-weight: bold;
  font-family: var(--mainFont);

  color: var(--headlineBlue);
}

.mainBoldedText {
  font-weight: bold;
  font-family: var(--mainFont);
  font-size: 1rem;
}

.whiteText {
  color: var(--white);
}

.card__mainText {
  font-weight: bold;
  font-family: var(--mainFont);
  font-size: 1.125rem;
  padding: 0;
  margin: 10px 0px;
}

.card__subText {
  font-family: var(--mainFont);
  font-size: 0.9375rem;
  padding: 0;
}

.contentBlock a {
  color: var(--headerColor);
  filter: opacity(0.7);
  text-decoration: none;

  display: inline-block;
  margin: 15px 0px;
}

.contentBlock a:hover {
  text-decoration: underline;
  color: rebeccapurple;
}

@media (max-width: 475px) {
  .headline {
    font-size: 1.125rem;
  }

  .mainBoldedText {
    font-size: 0.875rem;
  }

  .card__mainText {
    font-size: 0.875rem;
  }

  .card__subText {
    font-size: 0.75rem;
  }
}

@media (min-width: 2000px) {
  .headline {
    font-size: 2.25rem;
  }

  .mainBoldedText {
    font-size: 1.375rem;
  }

  .card__mainText {
    font-size: 1.5rem;
  }

  .card__subText {
    font-size: 1.125rem;
  }
}
/*#endregion*/
