.blob {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: auto;
  padding: 10px 20px;
  border-radius: 15px;

  font-family: var(--mainFont);
  font-weight: bold;
  color: var(--white);

  background-color: var(--headerColor);
  box-shadow: 4px 3px 12px 0px rgba(55, 55, 55, 0.42);

  & img {
    width: 30px;
    aspect-ratio: 1/1;
  }
}
