.card {
  height: auto;
  width: auto;

  & img {
    width: 100%;
    height: auto;

    background-repeat: no-repeat;
    border-radius: 20px;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  & h2 {
    font-weight: bold;
    font-family: var(--mainFont);
    font-size: 1.125rem;
    padding: 0;
    margin: 10px 0px;

    @media (max-width: 475px) {
      font-size: 0.875rem;
    }
    @media (min-width: 2000px) {
      font-size: 1.5rem;
    }
  }

  & p {
    font-family: var(--mainFont);
    font-size: 0.9375rem;
    padding: 0;

    @media (max-width: 475px) {
      font-size: 0.75rem;
    }
    @media (min-width: 2000px) {
      font-size: 1.125rem;
    }
  }

  & a {
    all: unset;
    cursor: pointer;
  }
}

.list .card a {
  display: grid;
  grid-template-areas: "Image Artist Genres Date";
  grid-template-columns: 1fr 2fr 2fr 1fr;
  gap: 20px;

  & img {
    width: 50%;
    height: auto;

    background-repeat: no-repeat;
    border-radius: 20px;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
}

a:hover {
  background-color: var(--highlightPurple);
}
