.card {
  height: auto;
  width: auto;

  & p.number,
  p.date {
    display: none;
  }

  & img {
    width: 100%;
    height: auto;

    background-repeat: no-repeat;
    border-radius: 20px;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  & h2 {
    font-weight: bold;
    font-family: var(--mainFont);
    font-size: 1.125rem;
    padding: 0;
    margin: 10px 0px;

    @media (max-width: 475px) {
      font-size: 0.875rem;
    }
    @media (min-width: 2000px) {
      font-size: 1.5rem;
    }
  }

  & p {
    font-family: var(--mainFont);
    font-size: 0.9375rem;
    padding: 0;

    @media (max-width: 475px) {
      font-size: 0.75rem;
    }
    @media (min-width: 2000px) {
      font-size: 1.125rem;
    }
  }

  & a {
    all: unset;
    cursor: pointer;
  }
}

.listHeader {
  display: none;
}

.list .card a,
.list .listHeader {
  display: grid;
  grid-template-areas: "Number Image Artist Genres Date";
  grid-template-columns: 0.2fr 1fr 2fr 2fr 1fr;
  margin-bottom: 10px;

  & img,
  h2,
  p {
    display: flex;
    justify-content: left;
    align-items: center;
  }

  & .columnTitle {
    font-family: var(--mainFont);
    font-weight: bold;
  }

  & p.number {
    grid-area: Number;
    font-weight: bold;
    font-size: 1.25rem;
    text-align: center;
  }

  & img {
    width: 35%;
    grid-area: Image;
  }

  & h2 {
    grid-area: Artist;
  }

  & .genres {
    grid-area: Genres;
  }

  &:not(.listHeader):hover {
    background-color: var(--highlightPurple);
  }

  &:not(.listHeader):focus {
    background-color: var(--focusPurple);
  }
}

.listHeader {
  padding-bottom: 5px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.236);
}
