header.mainHeader {
  display: flex;
  background: var(--headerColor);

  @media (min-width: 476px) {
    justify-content: end;
    align-items: center;
  }

  @media (max-width: 475px) {
    justify-content: center;
    align-items: center;
  }

  & p.userProfile {
    font-weight: bold;
    font-family: var(--mainFont);
    font-size: 1rem;
    color: var(--white);

    @media (max-width: 475px) {
      display: none;
    }
  }
}
