.exitButton {
  width: 70px;
  aspect-ratio: 1/1;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 40px;
  left: 60px;

  border-radius: 50%;
  border: none;
  background-color: var(--headerColor);

  & img {
    width: 25px;
    aspect-ratio: 1/1;
  }

  transition: transform 0.15s ease-in;

  &:hover {
    transform: scale(1.05);
    filter: brightness(1.05);
    cursor: pointer;
  }

  &:active {
    filter: brightness(0.8);
  }
}
